apiVersion: v1

kind: Service

metadata:

  labels:

    app: mydeploy

  name: mydeploy

spec:

  ports:

  - port: 8080

    protocol: TCP

    targetPort: 80

  selector:

    app: mydeploy

  type: ClusterIP
